/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #d65745 #404040;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background: #404040;
}

*::-webkit-scrollbar-thumb {
  background-color: #d65745;
  border-radius: 32px;
  // border: 2px solid #404040;
}
