<section class="main">
  <div class="qomander-logo-container">
    <img
      class="qomander-logo"
      src="./assets/images/logo/qomander.svg"
      alt="qomander"
    />
  </div>
  <div class="padding"></div>
  <div class="categories-container" #catContainer>
    <ng-container
      *ngFor="let cat of mealCategoriesS.categories; index as i; last as last"
    >
      <div
        class="category"
        [class.selected]="cat.name === mealCategoriesS.selectedCategory.name"
        (click)="mealCategoriesS.changeCategory(i)"
      >
        <img
          [src]="cat.picture"
          alt="{{ cat.name }}"
          class="category-picture"
        />
        <p class="category-name">{{ cat.name }}</p>
        <img
          src="./assets/images/icons/check.svg"
          alt="check"
          class="check-mark"
        />
      </div>
    </ng-container>
  </div>
  <div class="scroll-shadow"></div>
</section>
