<app-language-bar></app-language-bar>
<section class="main">
  <div class="upper-section">
    <div class="qomander">
      <img class="qomander__logo" src="./assets/images/logo/qomander.svg" alt="qomander" />
      <h1 class="qomander__title">qomander</h1>
    </div>
    <h1 class="heading">Where will you be eating today</h1>
  </div>

  <div class="bottom-section">
    <div class="order-type">
      <div class="block" routerLink="/menu">
        <img class="picture" src="./assets/images/icons/eat-in.png" alt="eat in" />
        <p class="title">Eat in</p>
      </div>
      <div class="block" routerLink="/menu">
        <img class="picture" src="./assets/images/icons/take-out.png" alt="take out" />
        <p class="title">Take out</p>
      </div>
    </div>
  </div>
</section>
