<app-language-bar></app-language-bar>
<section class="text-center">
  <div class="qomander">
    <img
      class="qomander-logo"
      src="./assets/images/logo/qomander.svg"
      alt="qomander"
    />
    <h1 class="qomander-title">qomander</h1>
  </div>

  <h1 class="heading">Where will you be eating today</h1>

  <section class="order-type-container">
    <div class="order-type">
      <div class="eat-in">
        <img
          class="button-picture"
          src="./assets/images/icons/eat-in.png"
          alt="eat in"
        />
        <p class="title">Eat in</p>
      </div>
      <div class="take-out">
        <img
          class="button-picture"
          src="./assets/images/icons/take-out.png"
          alt="take out"
        />
        <p class="title">Take out</p>
      </div>
    </div>
  </section>
</section>
