<app-language-bar></app-language-bar>
<main>
  <button class="back-button" (click)="backButton()">
    <img src="./assets/images/icons/back.svg" alt="back btn" />
    <span>Back</span>
  </button>
  <div class="margin"></div>
  <div class="meal-details-container">
    <div class="meal-picture">
      <img [src]="selectedMeal.picture" alt="{{ selectedMeal.name }}" />
    </div>
    <div class="meal-name">
      <p>{{ selectedMeal.name }}</p>
      <p class="meal-price">{{ selectedMeal.price }} DZD</p>
    </div>
    <div class="quantity-buttons-container">
      <button class="quantity-button" (click)="changeSelectedMealQuantity('-')">-</button>
      <span class="quantity">{{ selectedMealQuantity }}</span>
      <button class="quantity-button" (click)="changeSelectedMealQuantity('+')">+</button>
    </div>
  </div>
  <div class="selected-options" *ngIf="selectedOptions.length">
    <p class="selected-options-heading">
      Selected options
      <span>{{ optionsTotalPrice === 0 ? "Free" : "+ " + optionsTotalPrice + " DZD" }}</span>
    </p>
    <div class="selected-options-container">
      <div class="option" *ngFor="let option of selectedOptions">
        <img [src]="option.picture" alt="{{ option.name }}" />
        <p>{{ option.name }}</p>
      </div>
    </div>
  </div>
  <app-meal-options-list (updateSelectedOptionsEvent)="refreshVars()"></app-meal-options-list>
</main>
