<app-language-bar></app-language-bar>
<main>
  <button class="back-button" (click)="backButton()">
    <img src="./assets/images/icons/back.svg" alt="back btn" />
    <span>Back</span>
  </button>
  <div class="meal">
    <div class="meal__picture">
      <img [src]="selectedMeal.picture" alt="{{ selectedMeal.name }}" />
    </div>
    <div class="meal__name">
      <p>{{ selectedMeal.name }}</p>
      <p class="meal__price">{{ selectedMeal.price }} DZD</p>
    </div>
    <div class="quantity-buttons">
      <button (click)="changeSelectedMealQuantity('-')">-</button>
      <span>{{ selectedMealQuantity }}</span>
      <button (click)="changeSelectedMealQuantity('+')">+</button>
    </div>
  </div>
  <div class="selected-options" *ngIf="selectedOptions.length">
    <p class="heading">
      Selected options
      <span>{{ optionsTotalPrice === 0 ? "Free" : "+ " + optionsTotalPrice + " DZD" }}</span>
    </p>
    <div class="selected-options__stack">
      <div class="option" *ngFor="let option of selectedOptions">
        <img [src]="option.picture" alt="{{ option.name }}" />
        <p>{{ option.name }}</p>
      </div>
    </div>
  </div>
  <app-meal-options-list (updateSelectedOptionsEvent)="refreshVars()"></app-meal-options-list>
</main>
