@import "/src/assets/scss/colors";
%card {
  padding: 12px 20px;
  background-color: $secondary;
  border-radius: 20px;
}
main {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.back-button {
  cursor: pointer;
  background-color: $secondary;
  font-weight: 600;
  padding: 14px 29px 13px 12px;
  border-radius: 15px;
  margin-top: 18px;
  align-self: flex-start;
  color: white;
  border: 0;
  > img {
    width: 25px;
    vertical-align: middle;
  }
  > span {
    font-size: 19px;
    margin-left: 11px;
    vertical-align: middle;
  }
}

.meal {
  @extend %card;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 32px;
  $this: &;
  &__picture {
    img {
      max-height: 65px;
      height: 100%;
      width: auto;
    }
  }
  &__name {
    font-weight: 600;
    margin-left: 30px;
    font-size: 22px;
    line-height: 1.5;
    #{$this}__price {
      font-size: 18px;
      color: $primary;
    }
  }
}
.quantity-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
  > button {
    cursor: pointer;
    color: black;
    font-weight: bold;
    background-color: white;
    width: 44px;
    border-radius: 11px;
    padding: 4px 0;
    border: 0;
  }
  > span {
    font-weight: 600;
    width: 60px;
    text-align: center;
  }
}
.selected-options {
  margin-top: 17px;
  @extend %card;
  .heading {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    > span {
      color: $primary;
      font-size: 15px;
    }
  }
  &__stack {
    display: flex;
    width: 100%;
    overflow-x: auto;
    padding-bottom: 5px;
    > .option {
      text-align: center;
      flex-shrink: 0;
      margin-right: 23px;
      > img {
        max-height: 45px;
        // background-color: white;
        padding: 3px;
        border-radius: 15px;
      }
      > p {
        font-weight: 600;
        font-size: 11.5px;
        margin-top: 3px;
      }
    }
  }
}
