<app-language-bar></app-language-bar>
<main>
  <button class="back-button">
    <img src="./assets/images/icons/back.svg" alt="back btn" />
    <span>Back</span>
  </button>
  <div class="margin"></div>
  <div class="meal-details-container">
    <div class="meal-picture">
      <img src="./assets/images/meals/tacos/tacos-double.webp" alt="tacos" />
    </div>
    <div class="meal-name">
      <p>Tacos maxi</p>
      <p class="meal-price">250 DZD</p>
    </div>
    <div class="quantity-buttons-container">
      <button class="quantity-button">-</button>
      <span class="quantity">1</span>
      <button class="quantity-button">+</button>
    </div>
  </div>
  <div class="selected-options" *ngIf="selectedOptions.length">
    <p class="selected-options-heading">
      Selected options <span>+{{ totalPrice }} DZD</span>
    </p>
    <div class="selected-options-container">
      <div class="option" *ngFor="let option of selectedOptions">
        <img [src]="option.picture" alt="{{ option.name }}" />
        <p>{{ option.name }}</p>
      </div>
    </div>
  </div>
  <app-options (selectedOptionsEvent)="updateSelectedOptions($event)"></app-options>
</main>
