<app-language-bar></app-language-bar>
<main>
  <button class="back-button">
    <img src="./assets/images/icons/back.svg" alt="back btn" />
    <span>Back</span>
  </button>
  <div class="margin"></div>
  <div class="meal-details-container">
    <div class="meal-picture">
      <img src="./assets/images/meals/tacos/tacos-double.webp" alt="tacos" />
    </div>
    <div class="meal-name">
      <p>Tacos maxi</p>
      <p class="meal-price">250 DZD</p>
    </div>
    <div class="quantity-buttons-container">
      <button class="quantity-button">-</button>
      <span class="quantity">1</span>
      <button class="quantity-button">+</button>
    </div>
  </div>
  <div class="selected-options">
    <p class="selected-options-heading">Selected options <span>+50 DZD</span></p>

    <div class="selected-options-container">
      <div class="option">
        <img src="./assets/images/options/meat/escalope.webp" alt="tacos" />
        <p>Marguez</p>
      </div>
      <div class="option">
        <img src="./assets/images/options/meat/escalope.webp" alt="tacos" />
        <p>Escalope</p>
      </div>
      <div class="option">
        <img src="./assets/images/options/meat/escalope.webp" alt="tacos" />
        <p>Escalope</p>
      </div>
      <div class="option">
        <img src="./assets/images/options/meat/escalope.webp" alt="tacos" />
        <p>Escalope</p>
      </div>
      <div class="option">
        <img src="./assets/images/options/meat/escalope.webp" alt="tacos" />
        <p>Escalope</p>
      </div>
      <div class="option">
        <img src="./assets/images/options/meat/escalope.webp" alt="tacos" />
        <p>Escalope</p>
      </div>
      <div class="option">
        <img src="./assets/images/options/meat/escalope.webp" alt="tacos" />
        <p>Escalope</p>
      </div>
      <div class="option">
        <img src="./assets/images/options/meat/escalope.webp" alt="tacos" />
        <p>Escalope</p>
      </div>
      <div class="option">
        <img src="./assets/images/options/meat/escalope.webp" alt="tacos" />
        <p>Escalope</p>
      </div>
      <div class="option">
        <img src="./assets/images/options/meat/escalope.webp" alt="tacos" />
        <p>Escalope</p>
      </div>
      <div class="option">
        <img src="./assets/images/options/meat/escalope.webp" alt="tacos" />
        <p>Escalope</p>
      </div>
      <div class="option">
        <img src="./assets/images/options/meat/escalope.webp" alt="tacos" />
        <p>Escalope</p>
      </div>
      <div class="option">
        <img src="./assets/images/options/meat/escalope.webp" alt="tacos" />
        <p>Escalope</p>
      </div>
      <div class="option">
        <img src="./assets/images/options/meat/escalope.webp" alt="tacos" />
        <p>Escalope</p>
      </div>
      <div class="option">
        <img src="./assets/images/options/meat/escalope.webp" alt="tacos" />
        <p>Escalope</p>
      </div>
      <div class="option">
        <img src="./assets/images/options/meat/escalope.webp" alt="tacos" />
        <p>Escalope</p>
      </div>
      <div class="option">
        <img src="./assets/images/options/meat/escalope.webp" alt="tacos" />
        <p>Escalope</p>
      </div>
    </div>
  </div>
  <app-options></app-options>
</main>
