<app-language-bar></app-language-bar>
<section class="main-view">
  <app-meal-categories (categoryChangedEvent)="refreshMealList()"></app-meal-categories>
  <section class="menu-container">
    <h1 class="heading">What will you be eating today?</h1>
    <div class="menu-items" #menuItems>
      <ng-container *ngFor="let meal of mealList">
        <div class="item" (click)="selectMeal(meal)" routerLink="/options">
          <img class="item-picture" [src]="meal.picture" alt="{{ meal.name }}" height="73" />
          <p class="item-title">{{ meal.name }}</p>
          <p class="item-price">{{ meal.price }} DZD</p>
        </div>
      </ng-container>
    </div>
    <div class="scroll-shadow"></div>
  </section>
</section>
