<app-language-bar></app-language-bar>
<section class="main">
  <app-meal-categories></app-meal-categories>
  <section class="menu-block">
    <h1 class="heading">What will you be eating today?</h1>
    <div class="menu-items" #menuItems *ngIf="mealList.length; else noData">
      <ng-container *ngFor="let meal of mealList">
        <app-card
          [cardData]="meal"
          (cardClickedEvent)="selectMeal($event)"
          routerLink="/options"
        ></app-card>
      </ng-container>
    </div>
    <div class="scroll-shadow"></div>
  </section>
</section>
<ng-template #noData>
  <div class="no-data">
    <img src="./assets/images/other/tom.webp" alt="tom" />
    <h1>meeh, too busy to add more meals</h1>
  </div>
</ng-template>
