<app-language-bar></app-language-bar>
<section class="main-view">
  <app-categories></app-categories>
  <section class="menu-container">
    <h1 class="heading">What will you be eating today</h1>
    <div class="hidden">
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
      <p>qsd</p>
    </div>
  </section>
</section>
