@import "/src/assets/scss/colors";
:host {
  display: flex;
  flex-direction: column;
  height: 806px;
}
.heading {
  margin-top: 20px;
  font-weight: 600;
  font-size: 48px;
}
.sub-heading {
  font-size: 25px;
}
.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  overflow-y: auto;
  padding-top: 11px;
  padding-inline: 9px;
  padding-bottom: 118px;
  // &::after {
  //   content: "";
  //   flex: auto;
  // }
  .option {
    background-color: $secondary;
    margin-bottom: 22px;
    padding: 8px;
    border-radius: 30px;
    width: 145px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    cursor: pointer;
    transition: outline-color 0.3s;
    outline-color: $secondary;
    &-picture {
      max-height: 85px;
      margin: auto;
    }
    &-title {
      text-align: center;
      font-weight: 600;
      font-size: 19px;
      padding-top: 5px;
    }
    &-price {
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      color: $primary;
    }
    &.selected {
      outline: 2.5px solid $primary;
      position: relative;
      img.check-mark {
        visibility: visible !important;
      }
    }
    img.check-mark {
      width: 30px;
      position: absolute;
      top: -11px;
      right: -9px;
      visibility: hidden;
    }
  }
}
.next-button {
  background-color: $primary;
  position: absolute;
  bottom: -15px;
  width: 100%;
  height: 70px;
  border-radius: 11px;
  font-weight: 600;
  z-index: 9;
}
.scroll-shadow {
  width: calc(100% + 45px);
  height: 93px;
  position: absolute;
  bottom: 27px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 75%);
  margin-left: -20px;
}
