<h1 class="heading">{{ steps[currentStepIndex].heading }}</h1>
<p class="sub-heading">You can select only {{ steps[currentStepIndex].canSelect }} type</p>
<div class="options-container" #mealOptions>
  <div
    class="option"
    [class.selected]="option.selected"
    *ngFor="let option of steps[currentStepIndex].data"
    (click)="addOption(option)"
  >
    <img class="option-picture" [src]="option.picture" alt="{{ option.name }}" />
    <p class="option-title">{{ option.name }}</p>
    <p class="option-price">+ {{ option.price }} DZD</p>
    <img src="./assets/images/icons/check.svg" alt="check" class="check-mark" />
  </div>
</div>
<button class="next-button" (click)="nextButton()">Next</button>
<div class="scroll-shadow"></div>
